.flex-1.relative.flex.flex-col.flex-no-wrap.flex-center.p-2
  .absolute.z-1.grayscale.h-75p.w-75p
  .flex-none.z-2
    .flex-none.p-1.text-8.bold.white.text-opacity-90p.text-center
      | Sorry, no item found
