.flex-1.flex.flex-no-wrap.flex-main-center.mb-1
  a.block.flex.flex-no-wrap.h-10.md_h-12.shadow-2.transform.transition-transform.delay-05.duration-03.hover_scale-110p(href="{{link}}")
    .flex-none.h-100p.w-10.md_w-12.p-01.bg-baldur-scroll.bg-cover.rounded-l-4
      img.lazyload.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .flex-1.bg-gray-3.px-1.py-01.rounded-r-4.overflow-hidden.relative
      .flex.flex-col.flex-no-wrap.max-w-75ch
        .flex-none.bold.text-3.md_text-4 {{{title}}}
        .flex-none.pt-01.text-1.md_text-2 {{{description}}}
        .absolute.bottom-0.w-100p.bg-gradient-to-t.from-gray-3.h-6
