.fla.flrnw.flrch.mb-1
  a.block.flrnw.h-10.md_h-12.shadow-2.transform.transition-transform.delay-05.duration-03.hover_scale-110p(href="{{link}}")
    .fln.h-100p.w-10.md_w-12.p-01.bg-baldur-scroll.bg-cover.rounded-l-4
      img.lazyload.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .fla.bg-gray-3.px-1.py-01.rounded-r-4.overflow-hidden.relative
      .flcnw.max-w-75ch
        .fln.bold.text-3.md_text-4 {{{title}}}
        .fln.pt-01.text-1.md_text-2 {{{description}}}
        .absolute.bottom-0.w-100p.bg-gradient-y.bg-gradient-to-gray-3.h-6
