.flex-1.flex.flex-no-wrap.flex-center.mt-1.m-01
  a.flex-none.h-8.md_h-9.flex.flex-no-wrap.opacity-75p.hover_opacity-100p.transform.transition-transform.duration-03.hover_scale-125p.hover_z-2.pointer(href="{{link}}")
    .flex-none.w-8.md_w-9.bg-baldur-scroll.bg-cover.p-01.rounded-l-3
      img.lazyload.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .flex-none.w-12.bg-gray-3.rounded-r-3.p-01.flex.flex-col.flex-no-wrap
      .flex-1.flex.flex-no-wrap.flex-cross-center.relative.overflow-hidden
        .flex-1.max-h-100p.text-4.lh-2.bold.gray-8 {{{title}}}
        .absolute.bottom-0.w-100p.bg-gradient-y.bg-gradient-to-gray-3.h-2
