mixin dev_null()
  //- This mixins does nothing.
  //- We use it when pug requires us to define a `block content` but we don't want
  //- to display it.
  //- This comment is needed so the mixin has a valid body
