.fla.flrnw.mt-1.m-01.flc
  a.fln.h-8.md_h-9.flrnw.opacity-50p.hover_opacity-100p.transform.transition-transform.duration-03.hover_scale-125p.hover_z-2.pointer(href="{{link}}")
    .fln.w-8.md_w-9.bg-baldur-scroll.bg-cover.p-01.rounded-l-3
      img.lazyload.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .fln.w-12.bg-gray-3.rounded-r-3.p-01.flcnw
      .fla.flrnw.flrcv.relative.overflow-hidden
        .fla.max-h-100p.text-4.lh-2.bold.gray-8 {{{title}}}
        .absolute.bottom-0.w-100p.bg-gradient-y.bg-gradient-to-gray-3.h-2
