a.p-01.helvetica.transform.transition-transform.duration-03.hover_scale-125p.hover_z-2.hover_shadow-4(href="{{link}}")
  .bg-gray-3.rounded-3.shadow.flrnw.h-10
    .fln.w-10.h-100p.bg-baldur-scroll.bg-cover.p-01.rounded-l-3
      img.lazyload.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .fln.w-11.flcnw.flccv.px-1
      .text-3.lh-2 {{{title}}}

