block meta
  // This block is empty on purpose; so each page can override the meta object

doctype html
html(lang='en')
  +norska_head
  body.helvetica.bg-gray-8(id=pageId)
    .container.mx-auto.p-1
      .__header
        #searchbox.mb-2
      .__hits
        #type.my-2
        #hits
        textarea#hitTemplate(hidden)
          include /_includes/_templates/hit
        textarea#emptyTemplate(hidden)
          include /_includes/_templates/empty
      .__content
        block content

  script!=`window.CONFIG = ${JSON.stringify(data.config)};`
  +norska_scripts
