extends /_includes/_layouts/core

block config
  - pageId = "page"

block content
  .container.mx-auto.pt-1
    .fla.mb-1.mr-1.flcnw
      .fla.flrnw.bg-gray-3.rounded-4.shadow
        .fln.w-13.h-100p.bg-baldur-scroll.bg-cover.rounded-l-4
          //- +img.w-100p.h-100p.object-contain(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
        .fla.flcnw.py-01.px-1
          a.bold.text-4(href=originalUrl)=data.item.title
          .text-2=data.item.type
          .pt-02.text-3.arial.overflow-hidden=data.item.description

